/*
Tooltips style from https://github.com/usablica/intro.js
Created by Afshin Mehrabani (https://github.com/afshinm)
*/

.firstrun-arrow {
  border: 5px solid white;
  content:'';
  position: absolute;
}

.firstrun-arrow.left {
  left: -10px;
  top: 10px;
  border-top-color:transparent;
  border-right-color:white;
  border-bottom-color:transparent;
  border-left-color:transparent;
}

.firstrun-tooltip {
  position: absolute;
  padding: 10px;
  background-color: white;
  min-width: 200px;
  max-width: 300px;
  border-radius: 3px;
  box-shadow: 0 1px 10px rgba(0,0,0,.4);
  -webkit-transition: opacity 0.1s ease-out;
     -moz-transition: opacity 0.1s ease-out;
      -ms-transition: opacity 0.1s ease-out;
       -o-transition: opacity 0.1s ease-out;
          transition: opacity 0.1s ease-out;
}