#firstrun {
	height: 100%;
	margin-left: 300px;
	position: relative;
}

#firstrun .message {
	color: #888888;
	font-size: 1.5em;
	font-weight: bold;
	text-shadow: 0 1px 0 #FFFFFF;
	position: absolute;
	top: 50%;
	text-align: center;
	width: 100%;
	margin-top: -0.75em;
}
