#nofeeds-message {
  color: #888888;
  font-size: 1.5em;
  font-weight: bold;
  margin: 10em 0 0 5em;
  position: absolute;
  text-shadow: 0 1px 0 #FFFFFF;
}

#add-new-tooltip {
  top: 0px;
  position: absolute;
}

#settings-tooltip {
  bottom: 0px;
  position: absolute;
}


/*
Tooltips style from https://github.com/usablica/intro.js
Created by Afshin Mehrabani (https://github.com/afshinm)
*/

.firstrun-arrow {
  border: 5px solid white;
  content:'';
  position: absolute;
}

.firstrun-arrow.left {
  left: -10px;
  top: 10px;
  border-top-color:transparent;
  border-right-color:white;
  border-bottom-color:transparent;
  border-left-color:transparent;
}

.firstrun-tooltip {
  font-size: 16px;
  padding: 10px;
  background-color: white;
  min-width: 150px;
  max-width: 400px;
  height: 44px;
  border-radius: 3px;
  box-shadow: 0 1px 10px rgba(0,0,0,.4);
  -webkit-transition: opacity 0.1s ease-out;
     -moz-transition: opacity 0.1s ease-out;
      -ms-transition: opacity 0.1s ease-out;
       -o-transition: opacity 0.1s ease-out;
          transition: opacity 0.1s ease-out;
}
